# Secrets
.env
*.pem
*.key

# Data & Output
output_data/
output_dataset/
results/
*.json
*.csv
*.parquet

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
.venv/

# OS Files
.DS_Store
Thumbs.db

# External Scrapers
scrapfly-scrapers/